doctype html
- var title = 'Space Invaders'

block vars

html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    title #{title}
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
    //- link(rel="icon" type="image/png" href="images/favicon.png")
  body
    header.header.static(role="header")
    section
    footer.footer
