doctype html
- var title = 'Space Invaders'

block vars

html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, user-scalable=no")
    title #{title}
    link(rel="stylesheet", href="styles/vendor.css")
    link(rel="stylesheet", href="styles/main.css")
    link(rel="icon" type="image/ico" href="favicon.ico")
  body
    header.header.static(role="header")
    section.game
      div.game__wrapper
        div#menu.game__menu
          h1.game__title Space 
            span Invaders
          div.game__start.active
            div.game__rules
              div.game__icons
                div
                div
                div
              div.game__score
                p 
                  |= 10 pts
                p 
                  |= 20 pts
                p 
                  |= 30 pts
            span#startgame.game__play Play Game
          div.game__end
            p.game__endgame End game!
            p.game__youscore Your score: 
              span
        div#gamezone.game__gamezone
    footer.footer
  script(src="scripts/vendor.js")
  script(src="scripts/app.js")
